@font-face {
  font-family: "Source Sans Pro";
  src: url("/src/assets/fonts/SourceSansPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 101px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-display: swap;
  color: #bdbdbd;
  line-height: 1.618;
  background-color: #2d2d2d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  color: #bdbdbd;
  line-height: 1.618;
}

h1 {
  line-height: 1.4;
  line-height: 1.4;
  font-size: 21px;
}

h2 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: normal;
  color: #666;
}
div {
  margin: 0;
  padding: 0;
}
a {
  color: #bdbdbd;
  text-decoration: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

input,
select,
textarea {
  color: white;
  background-color: #474747;
  font-family: "Source Sans Pro", sans-serif;
}

/* ---------------------- */

.header {
  margin: 0 auto;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;

  min-width: 300px;
  border-top: 4px solid #81c14b;
  background-color: #2d2d2d;
  border-bottom: 1px solid #1f1f1f;
  box-sizing: border-box;
  /* height: 200px; */
}

.top-bar {
  overflow: visible;
  height: 101px;
  width: 1240px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  border: 0;
  /* background-color: yellow; */
}
.bottom-bar {
  overflow: visible;
  height: 41px;
  width: 1240px;
  margin: 0 auto;
  display: flex;
}

.active-tag {
  border-bottom: solid 5px #81c14b;
}

/* AuthSection */
.auth-section-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.auth-section-list > li {
  margin: 0;
  padding: 0;
  /* border: 1px solid #ccc; */
  float: left;
  position: relative;
  /* background-color: red; */
}

.auth-section-list > li a {
  display: inline-block;
  padding: 0 10px;
  height: 29px;
  line-height: 29px;
  color: #bdbdbd;
  box-sizing: border-box;
  font-weight: 500;
}
.auth-icon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  fill: #bdbdbd;
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  color: #bdbdbd;
}

.auth-container {
  float: right;
  /* display: inline-block; */
  height: 60px;
  margin: 0;
  /* background-color: chocolate; */
  line-height: 60px;
}

.events-highlighted svg {
  font-weight: bold;
  color: #fff !important;
  fill: #fff !important;
}
.events-highlighted {
  color: #fff !important;
  background-color: #81c14b;
  border-radius: 5px;
  font-weight: bold;
}
.events-highlighted span {
  font-weight: bold;
}

.logo-container {
  margin: 0;
  /* display: inline-block; */
  float: left;
  width: 245px;
  max-height: 29px;
  /* background-color: red; */
  /* height: 60px; */
}

.logo-container a {
  display: block;
  margin: 0;
  /* margin-top: 18px; */
  padding: 0;
  height: 60px;
  line-height: 60px;
  background-position: 10px 50%;
  background-size: 129px 40px;
  background-repeat: no-repeat;
  text-indent: -119988px;
  background-image: url("https://ekstat.com/img/new-design/eksisozluk_logo_darktheme.svg");
}

.search-container {
  position: relative;
  display: inline-block;
  /* float: left; */
  border-radius: 5px;
  margin: 15px 0 0 25px;
  height: 29px;
  line-height: 29px;
  vertical-align: baseline;
  box-sizing: border-box;
  /* background-color: aqua; */
}

.search-container .search-input {
  height: 100%;
  position: relative;
  padding-left: 10px;
  /* display: inline-block; */
  float: left;
  font-size: 14px;
  border: 1px solid #81c14b;
  border-radius: 5px 0 0 5px;
  height: 29px;
  line-height: 29px;
  background-color: #fff;
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  width: 480px;
  color: black;
  max-width: 73%;
  padding: 8px 8px;
  box-sizing: border-box;
}

.search-container .search-button {
  font-size: 14px;
  height: 29px;
  line-height: 29px;
  border: 0 none;
  background-color: #81c14b;
  color: #fff;
  border-radius: 0 5px 5px 0;
  /* padding: 0 8px; */
  display: inline-block;
  /* padding: 8px 8px; */
}

/* .search-container .search-input:focus {
  outline: none;
} */
.not-focus {
  outline: none;
}
.not-focus:focus {
  outline: none;
}

.clear {
  clear: both;
}

.nav {
  display: flex;
  /* margin-top: 30px; */
  /* background-color: red; */
  /* flex-grow: 1;
  flex-shrink: 1; */
  /* border-color: green; */
  font-weight: 600;

  /* background-color: aqua; */
}
.nav ul {
  list-style: none;
  height: 41px;
  line-height: 36px;
  display: flex;
  margin-left: -6px;
  flex-basis: 85%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 auto;
  width: 100%;
}

.nav ul li {
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  padding: 0 10px;
  /* transition: all 0.1s ease-in-out; */
  margin-right: 8px;
  font-weight: 600;
}

.nav ul li:hover {
  border-bottom: solid 5px #81c14b;
  cursor: pointer;
}

.right-nav {
  flex-basis: 15%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  overflow: visible;
  /* background-color: red; */
}

.nav-extra {
  flex-basis: 15%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
}

/* leftSide */

.left-side {
  position: fixed;
  top: 101px;
  margin-bottom: 0;
  bottom: 0;
  width: 245px;
  z-index: 10;
  /* background-color: red; */
}

.left-side ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.left-side ul li {
  border-top: 0;
}
.left-side ul li:hover {
  background-color: #1f1f1f;
}
.left-side ul li a {
  padding: 10px 0;
  position: relative;
  padding-right: 30px;
  display: block;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.partial-left-side ul li a:hover {
  text-decoration: none;
  font-style: normal;
}

.partial-left-side {
  position: absolute;
  bottom: 0;
  top: 15px;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding-right: 10px;
  padding-bottom: 20px;
}

.partial-left-side::-webkit-scrollbar-thumb {
  background-color: #202020;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}

.partial-left-side::-webkit-scrollbar-corner {
  background-color: transparent;
}
.partial-left-side::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
.partial-left-side::-webkit-scrollbar {
  width: 8px;
}

/* main container */

.main-container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 20px;
}

.inner-content {
  margin-left: 245px;
  /* background-color: yellow; */
  display: block;
}

.section {
  width: 645px;
  margin-left: 25px;
  margin-right: 25px;
  z-index: 20;
  /* background-color: green; */
}

.external-site {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: visible;
  width: auto;
  padding: 0 10px;
}

.external-site a {
  height: 20px;
  display: block;
  padding: 0;
  margin: 0;

  background-size: contain;
  background-repeat: no-repeat;
}
.external-site .logo-pena {
  width: 64px;
  height: 30px;
  background-image: url("https://ekstat.com/img/new-logos/pena-text-logo-dark@2x.png");
}
.external-site .logo-eksi-seyler {
  width: 90px;
  height: 30px;
  background-image: url("https://ekstat.com/img/new-logos/eksiseyler-text-logo-dark@2x.png");
}

.left-side-title {
  position: relative;
  display: block;
}

.left-side-box {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.refresh-text {
  display: block;
  margin-bottom: 10px;
  padding: 4px 0;
  border: 1px solid #494949;
  text-align: center;
}
.topic {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.topic h1 {
  word-break: break-word;
  font-size: 22px;
  margin: 10px 0;
}
.topic h1 a {
  color: #bdbdbd;
  text-decoration: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.topic h1 a:hover {
  font-style: underline;
}

.submenu-container {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.submenu {
  margin: 0;
  padding: 0;
  float: left;
  margin-bottom: 10px;
  /* background-color: red; */
}
.submenu-item {
  margin-right: 20px;
  display: inline-block;
}

.pager {
  /* display: inline-block; */
  margin-bottom: 10px;
  float: right;
  color: #666;
  white-space: nowrap;
}

.pager a {
  display: inline-block;
  padding: 1px 8px;
  margin-left: 5px;
  border: 1px solid #494949;
  border-radius: 4px;
}

.pager select {
  height: 26px;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 50px;
  width: auto;
  max-width: 65px;
  padding: 2px;
  cursor: pointer;
  vertical-align: top;
  border-color: #494949;
  border-radius: 4px;
}

.entry-list {
  list-style: none;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  display: block;
}

.entry-item {
  padding-top: 0;
  position: relative;
  padding: 15px 0 15px 0;
  word-wrap: break-word;
  margin: 0;
}

.entry-content {
  margin-bottom: 5px;
  overflow: hidden;
  max-height: 237px;
  position: relative;
  margin: 0;
  padding: 0;
}

.feedback-container {
  float: left;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  color: #bdbdbd;
  /* display: inline-block; */
}

.feedback {
  float: right;
}
.feedback a {
  padding-left: 10px;
}

.vote-section {
  float: left;
  margin: 0;
  padding: 0;
  color: #bdbdbd;
}
.vote-down {
  padding-left: 15px;
}
.vote-section a {
  cursor: pointer;
}

.favorite-section {
  /* display: inline-block; */
  margin-right: 10px;
  float: left;
  padding-left: 10px;
  font-size: 14px;
}
.favorite-section a {
  cursor: pointer;
  margin-right: 10px;
}

.user-info {
  text-align: right;
  color: #bdbdbd;
  vertical-align: middle;
  padding: 4px;
  padding-right: 10px;
}
.username-info {
  color: #53a245;
  display: block;
  font-size: 14px;
}
.username-info:hover {
  color: #53a245;
}
.user-datetime {
  display: block;
  font-size: 12px;
  color: #666;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

.not-underlined {
  text-decoration: none !important;
}
.not-underlined:hover {
  text-decoration: none !important;
}

.submit-entry-container {
  padding-top: 10px;
}

.entry-field {
  background-color: #1f1f1f;
}

.inner-entry-field {
  padding: 15px 20px;
  margin: 0;
}

.edit-buttons {
  width: 100%;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.edit-buttons button {
  margin-right: 5px;
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #494949;
  background-color: #202020;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  width: auto;
}

.inner-entry-field textarea {
  font-size: 16px;
  padding: 10px;
  height: 105px;
  width: 100%;
  border: 1px solid #494949;
  border-radius: 2px;
  color: white;
  background-color: #474747;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.inner-entry-field .textarea-focused {
  height: 20em;
  outline: none;
  /* transition: border linear .2s, box-shadow linear .2s; */
}

.entry-submit-buttons {
  margin-left: 0;
  padding-left: 0;
  padding-top: 10px;
  width: 100%;
}

.entry-submit-button {
  border-radius: 3px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  width: auto;
  padding: 8px 8px;
  border-color: #5c8e31;
  border: 1px solid #5c8e31;
  background-color: #81c14b;
  color: #e0e0e0;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.entry-submit-button:hover {
  background-color: #68a138;
}

/* footer */
footer {
  border-top: 1px solid #494949;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: 25px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 25px;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  text-align: left;
  display: inline-block;
  /* text-align: center; */
  width: auto;
  flex-grow: 1;
  padding: 0 5px;
  white-space: nowrap;
}

/* icons */

.icon-entry-footer-fav:hover {
  fill: #81c14b;
}
.icon-entry-footer-up:hover {
  fill: green;
}
.icon-entry-footer-down:hover {
  fill: red;
}

.icon-entry-footer {
  height: 15px;
  width: 15px;
  margin: 5px;
  stroke: #bdbdbd;
  fill: #2d2d2d;
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.icon-dots {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  fill: #bdbdbd;
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  color: #bdbdbd;
}

.icon-search {
  fill: #fff;
}

.icon-loading {
  padding-left: 5px;
  margin-top: 0;
  fill: #666;
  height: 15px;
  width: 15px;
  margin: 5px;
  /* stroke: #bdbdbd; */
  /* fill: #bdbdbd; */
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;

  /* display: inline-block; */
  /* float: left; */
}

.left-side-title h2 {
  display: inline-block;
}

.loading-animation {
  animation: rotateAnimation 2s linear infinite;
  /* transform: rotate(30deg); */
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* login */

.form-container {
  max-width: 360px;
  width: 100%;
  padding: 10px;
}

.input-label {
  display: block;
  float: none;
  margin-right: 0;
  padding-left: 0;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  height: auto;
}

.form-input {
  width: 100%;
  max-width: 100%;
  padding: 8px 8px;
  border: 1px solid #b0bec5;
  border-radius: 2px;
}

.input-section {
  margin-bottom: 10px;
}

.form-button {
  display: block;
  color: #fff;
  background-color: #81c14b;
  width: 100%;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.3333333;
  border-radius: 2px;
  border: 1px solid #74b43e;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  font-family: "Source Sans Pro";
  /* vertical-align: middle; */
  touch-action: manipulation;
  cursor: pointer;
  margin-bottom: 15px;
}

.form-button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #68a138;
  border-color: #57872e;
}

.form-helper-links {
  width: 100%;
  display: block;
}

.form-date {
  width: 100%;
  margin-bottom: 10px;
}
.form-date select {
  color: white;
  background-color: #474747;
  font-family: "Source Sans Pro", sans-serif;
  float: left;
  width: auto;
  font-size: 100%;
  height: 35px;
  margin-right: 5px;
  padding: 8px 8px;
  border: 1px solid #b0bec5;
  border-radius: 2px;
  line-height: normal;
}
.form-date-inner {
  display: block;
  width: 100%;
}

.form-error {
  color: red;
}

/* register */

.gender-container {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group button {
  background-color: #202020;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-group button:hover {
  background-color: #81c14b;
}
.btn-active {
  background-color: #81c14b !important;
}

.gender-inner {
  display: block;
  width: 100%;
}

.btn-group button:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group button:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/* drop-down menu */

.drop-down-menu {
  background-color: #2d2d2d;
  border: 1px solid #494949;
  border-radius: 3px;
  color: #bdbdbd;
  position: absolute;
  z-index: 1000;
  margin-top: -1px;
  top: 100%;

  min-width: 150px;
  display: block;
  list-style: none;
  padding: 0 !important;
  font-size: 14px;
}

.f-left {
  left: 0;
  float: left;
}

.drop-down-menu li {
  display: block;
  line-height: 2.5;
  cursor: pointer;
}
.drop-down-menu .li-last {
  border-top: 1px solid #494949;
}
.drop-down-menu li a {
  text-decoration: none;
}
.drop-down-menu li:hover {
  background-color: #1f1f1f;
}

.f-right {
  right: 0;
  float: right;
}